<head>
    {{ partial "head/meta" . }}
    <title>{{ partial "data/title" . }}</title>
    <link rel='canonical' href='{{ .Permalink }}'>
    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}
    {{ partial "head/hreflang" . }}
    {{ partial "head/includes" . }}
    {{ partial "head/extra" . }}
    <script data-ad-client="ca-pub-8604812913439531" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>