<content>
  <h2> 最新記事</h2> 
  <ul class="blog-posts">
    {{ $pages := where .Site.Pages "Section" "posts" }}
    {{ $recentPages := $pages | first .Site.Params.latestPostNum }}
    {{ range $recentPages }}
    <!-- Exclude Posts in listed items -->
    {{ if ne .Title "Posts" }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
  <a href="/posts/">すべての記事一覧へ</a>

  {{ partial "top-rankings.html" . }}

</content>