{{ $related := .Site.RegularPages.Related . | first 5 }} {{ with $related }}
<h2>関連しているかもしれない記事</h2>
<ul>
  {{ range . }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
{{ end }}

<pre>
---

このサイトの更新情報を<a href="/index.xml">RSS</a>で配信しています。お好きなフィードリーダーで購読してみてください。

👏このウェブサイトの運営を支援していただける方を募集しています。
もしよろしければ、<a href="https://www.buymeacoffee.com/hurutoriya">Buy Me a Coffee</a> からサポート(投げ銭)していただけると、著者の活動のモチベーションに繋がります✨

📮おたより
記事への感想の<a href="https://docs.google.com/forms/d/e/1FAIpQLScgZVDrjQiKLbQRovfs88oweCITzjtvt1PlgwL14JfWPOrpPQ/viewform?usp=pp_url&entry.838298670={{ .Permalink }}">おたより</a>をおまちしてます。
お気軽にお送りください。
お返事はメールアドレス入力があればメールでさせていただきます。
もちろんお返事を希望せずに単なる感想だけでも大歓迎です。
</pre>