<h2>Support</h2>
記事をお読みくださりありがとうございます。このウェブサイトの運営を支援していただける方を募集しています。
もしよろしければ、下のボタンからサポート(投げ銭)していただけると、ブログ執筆、情報発信のモチベーションに繋がります✨

<a href="https://www.buymeacoffee.com/hurutoriya"
  ><img
    src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=hurutoriya&button_colour=FFDD00&font_colour=000000&font_family=Inter&outline_colour=000000&coffee_colour=ffffff"
/></a>

<a
  href="https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fshunyaueta.com%2Findex.xml"
  >Feedly でBlog記事の更新情報を購読</a
>
